requests
pandas
spacy==3.7.0
https://github.com/explosion/spacy-models/releases/download/pl_core_news_md-3.7.0/pl_core_news_md-3.7.0-py3-none-any.whl
speakleash
datasets>=2.11.0
pandas>=1.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl
spacy-transformers==1.1.5
lxml==4.9.1
morfeusz2==1.99.4
pexpect==4.8.0
conllu==4.5.2
huggingface-hub
stylo_metrix
http://mozart.ipipan.waw.pl/~rtuora/spacy/pl_nask-0.0.7.tar.gz